body {}

#banner { width: 100%;

}

.principal{background: #CCCCCC;
padding: 30px;}



.titulo-centralizado{

    text-align: center;
}

.titulo-principal{
    padding-left: 20px;
}

p {text-align: center;
    
}

.itens{
    font-style:italic;
}

#missao {font-size: 20px;
}

em strong {
    color: red;
}


.beneficios{background: #FFFFFF;
padding: 20px
}

ul { display: inline-block;
    vertical-align: top;
}
.beneficiosimg {
    width: 50%;

}